extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner IHNA Service - Andrew Bot
    div.Message
      div.Title
        h3 Un condensé de micro-services
        h1 IHNA-SERVICE
      span.Details 
        a(href="https://github.com/Kritune-Dev/IHNA-App") #{info.infoApp}
      span.Details 
        a(href="https://github.com/Kritune-Dev/IHNA-CalendarService") #{info.infoCalendarService}
      span.Details 
        a(href="https://github.com/Kritune-Dev/IHNA-CalendarWorker") #{info.infoCalendarWorker}
      span.Details 
        a(href="https://github.com/Kritune-Dev/IHNA-MessengerService") #{info.infoMessengerService}
    div.NavButtons
      a(href="/confidentialite")
        div.NavButton Politique de confidentialité