extends layout

block layout-content
  div.View.OsteoView
    h1.Banner Pratique
    div.CenterPage
        div.Message
            div.Title
                h1 4ème Année
            a(href="/pratique/d1/rai")
                div.NavButton 5.5 | Région appendiculaire inférieur
            a(href="/pratique/d1/rpla")
                div.NavButton 5.6 | Région lombo-pelvi-abdominale
            a(href="/pratique/d1/rts")
                div.NavButton 5.7 | Région thoraco-scapulaire
            a(href="/pratique/d1/rcc")
                div.NavButton 5.9 | Région cervico-cépahlique
        div.Message
            div.Title
                h1 3ème Année
            a(href="/pratique/p3/rai")
                div.NavButton 5.5 | Région appendiculaire inférieur
    div.CenterPage
        div.NavButton Acceuil